.details-body{
    padding: 20px !important;
}
.action-section{
    padding-top: 10px;
}
.form-field{
    padding-top:10px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #B8B8B8;
    z-index: 99;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    min-height: 100%;
    width: 100%;
    .loader-icon{
        width: 40%;
        height: 23%;
        position: absolute;
        top: 30%;
        right: 30%;
    }
}
.winner-icon{
    width: 30px;
    height: 30px;
}
.details-missing{
    margin: 20px;
}
.race-results-sec{
    background-color: black;
    font-weight: bold;
    font-size: 16px;
    height:35px;
    display: block;
    color: white;
    margin: 10px 0px 10px 0px;
    padding: 13px 0px 0px 10px;
}
.dr-name{
    font-weight: bold;
}
.results-list{
    width: 100%;
    .mat-card{
        margin: 5px 0px 5px 0px;
    }
    .relBot17{
        position: relative;
        bottom: 17px;
    }
    .list-col-1{
        width: 25%;
        display: inline-block;
    }
    .list-col-2{
        width: 50%;
        display: inline-block;
    }
    .list-col-3{
        text-align: center;
        width: 25%;
        display: inline-block;
    }
}